<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/output.css">
    <title>Document</title>
</head>
<body>
    {% include "components/navbar.html" %}

    <div class="min-h-screen flex flex-col bg-base-100">
        <main class="flex-1 overflow-y-auto">
            <div class="hero py-12">
                <div class="hero-content w-full max-w-7xl mx-auto">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
                        <div class="text-center md:text-left space-y-6">
                            <h1 class="text-5xl font-bold">PepeVault</h1>
                            <p class="max-w-md text-lg text-muted">Password Manager made in Rust</p>
                            <div class="flex flex-col sm:flex-row gap-3 justify-center md:justify-start">
                                <a class="btn btn-primary btn-lg" href="/login">Get started</a>
                                <a class="btn btn-ghost btn-lg" href="#">GitHub</a>
                            </div>
                        </div>

                        <div class="flex items-center md:justify-end">
                            <div class="w-full max-w-lg p-3 rounded-xl shadow-lg flex items-center justify-center">
                                <img class="w-full h-auto object-contain" src="/public/logo.webp" alt="PepeVault icon" loading="lazy"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>